{% extends 'base.html' %}

{% block header %}
  <nav class="navbar navbar-light">
    <h1 class="navbar-brand">Airbnb Forecaster - {% block title %}Dashboard{% endblock %}</h1>
    <a class="btn btn-outline-danger" href="{{url_for('auth.logout')}}">Log Out</a>
  </nav>
{% endblock %}

{% block content %}

  <div id="forecaster" class="jumbotron">
    <h2>Forecaster</h2>  
    <!--The forecasted price-->
    {% if price is not none %}
      <div class="alert alert-success" id="results alert alert-success">
        <p>Property details:</p>
        <ul>
          <li>Property Type: {{ property_type }}</li>
          <li>Room Type: {{ room_type }}</li>
          <li>Bedrooms: {{ bedrooms }}</li>
          <li>Beds: {{ beds }}</li>
          <li>ZIP Code: {{ zipcode }}</li>
        </ul>
        <p>The expected nightly price for this property is ${{ price }}.</p>
      </div>
    {% endif %}
  
    <form method="post">
      <div class="form-group">
        <label for="property-type">Property Type</label>
        <select class="form-control" name="property-type" id="property-type" required>
            <option value="apartment">Apartment</option>
            <option value="house">House</option>
        </select>  
      </div>
  
      <div class="form-group">
        <label for="room-type">Room Type</label>
        <select class="form-control" name="room-type" id="room-type" required>
            <option value="entire">Entire home/apt</option>
            <option value="private">Private room</option>
            <option value="shared">Shared room</option>
        </select>  
      </div>
  
      <div class="form-group">
        <label for="bedrooms">Bedrooms</label>
        <input class="form-control" type="number" name="bedrooms" id="bedrooms" min="0" max="10" required>  
      </div>
  
      <div class="form-group">
        <label for="beds">Beds</label>
        <input class="form-control" type="number" name="beds" id="beds" min="0" max="20" required>  
      </div>
  
      <div class="form-group">
        <label for="zipcode">ZIP Code</label>
        <select class="form-control" name="zipcode" id="zipcode" required>
            <option value="98101">98101</option>
            <option value="98102">98102</option>
            <option value="98103">98103</option>
            <option value="98104">98104</option>
            <option value="98105">98105</option>
            <option value="98106">98106</option>
            <option value="98107">98107</option>
            <option value="98108">98108</option>
            <option value="98109">98109</option>
            <option value="98112">98112</option>
            <option value="98115">98115</option>
            <option value="98116">98116</option>
            <option value="98117">98117</option>
            <option value="98118">98118</option>
            <option value="98119">98119</option>
            <option value="98121">98121</option>
            <option value="98122">98122</option>
            <option value="98125">98125</option>
            <option value="98126">98126</option>
            <option value="98133">98133</option>
            <option value="98134">98134</option>
            <option value="98136">98136</option>
            <option value="98144">98144</option>
            <option value="98146">98146</option>
            <option value="98177">98177</option>
            <option value="98178">98178</option>
            <option value="98199">98199</option>
        </select>  
      </div>
  
      <input class="btn btn-primary" type="submit" value="Estimate">
    </form>
  </div>

  <div id="data">
    <h2>Data Visualization</h2>
    <h5>Jump To:</h4>
    <div class="btn-group">
      <a class="btn btn-outline-primary" href="#all-data">All Data</a>
      <a class="btn btn-outline-primary" href="#property-data">Property Type</a>
      <a class="btn btn-outline-primary" href="#room-data">Room Type</a>
      <a class="btn btn-outline-primary" href="#bedrooms-data">Bedrooms</a>
      <a class="btn btn-outline-primary" href="#beds-data">Beds</a>
      <a class="btn btn-outline-primary" href="#zip-data">ZIP Code</a>
    </div>

      <div id="all-data">
        <h3>All Data</h3>
        <div class="card">
          <img class="card-img-top" src="{{ url_for('static', filename='coeffs.png') }}">
          <p class="card-body">This figure illustrates the Pearson correlation coefficients of the given data features. These values analyze how correlated two variables are to one another. Higher values mean higher correlation. Of particular importance is the price row, which showcase the features that have the most impact on price.</p>
        </div>
      </div>

    <div id="property-data">
      <h3>Property Type</h3>
      <img src="{{ url_for('static', filename='avgProperty.png') }}">
      <img src="{{ url_for('static', filename='numProperty.png') }}">
    </div>

    <div id="room-data">
      <h3>Room Type</h3>
      <img src="{{ url_for('static', filename='avgRoom.png') }}">
      <img src="{{ url_for('static', filename='numRoom.png') }}">
    </div>

    <div id="bedrooms-data">
      <h3>Bedrooms</h3>
      <img src="{{ url_for('static', filename='avgBedrooms.png') }}">
      <img src="{{ url_for('static', filename='numBedrooms.png') }}">
    </div>

    <div id="beds-data">
      <h3>Beds</h3>
      <img src="{{ url_for('static', filename='avgBeds.png') }}">
      <img src="{{ url_for('static', filename='numBeds.png') }}">
    </div>

    <div id="zip-data">
      <h3>ZIP Code</h3>
      <img src="{{ url_for('static', filename='avgZip.png') }}" width="1000">
      <img src="{{ url_for('static', filename='numZip.png') }}" width="1000">
    </div>
  </div>
{% endblock %}
